.appHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.appHeader>h1{
  margin: 4px;
  font-size: 1.4em;
  color:#3d3131;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.appHeader>h1 img{
  width: 40px;
  margin-right: 10px;
}
nav>ul{
  display: flex;
  flex-direction: row;
  width: 50vw;
  max-width: 150px;
  justify-content: space-around;
  align-items: center;
}
nav>ul>li{
  cursor: pointer;
  list-style-type: none;
}
nav>ul img{
  width: 25px;
}
nav>ul img:hover{
  scale: 1.1 1.1;

}
nav>ul img:active{
  scale: 0.95 0.95;
}

